{{> header}}


	<div class="bg-secondary text-white text-center py-2">
	Cette page permet de créer un utilisateur test automatiquement
	</div>
	

	
    <div "bg-secondary text-white text-center py-2">Login</div>
    <div>test</div>

    <div "bg-secondary text-white text-center py-2">Password</div>
    <div>test123</div>

    <div "bg-secondary text-white text-center py-2">Identity</div>
    <div>MOI</div>

    <div "bg-secondary text-white text-center py-2">Email</div>
    <div>test@test.fr</div>






{{> footer}}