{{> header}}

  
<div style="margin-top:50px;">
	<form class="ui form">
	<h2 class="text-center">Login</h2>
	  <div class="field">
	    <label>Username</label>
	    <input placeholder="Username" value="" type="text">
	  </div>
	  <div class="field">
	    <label>Password</label>
	    <input placeholder="Password" value="" type="text">
	  </div>
	  <div style="border:solid; border-width:1px; padding:10px; border-color: #a0a0a0;">
		  <button class="ui button green" type="submit">Login</button>
	  </div>

	  
	  
	</form>
	
</div>


{{> footer}}